DJANGO_SECRET_KEY=clave_super_segura_imposible_de_adivinar
DEBUG=true

# Base de datos PostgreSQL
DB_NAME=glx_db
DB_USER=admin
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432

# Correo SMTP
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=tu.email@ejemplo.com
EMAIL_HOST_PASSWORD=tu_app_password
DEFAULT_FROM_EMAIL=mismo_que.EMAIL_HOST_USER@ejemplo.com