services:

    glx-db:
      image: postgres:13.6
      ports:
        - "5432:5432"
      shm_size: 128mb
      environment:
        POSTGRES_PASSWORD: 1234
        POSTGRES_USER: admin
        POSTGRES_DB: glx_db

    glx-web:
      build: .
      depends_on:
        - glx-db
      env_file:
        - .env
      environment:
        DB_HOST: glx-db
        DB_PORT: "5432"
      ports:
        - "8000:8000"

    stripe-cli:
      image: stripe/stripe-cli:latest
      container_name: glx-stripe-cli
      depends_on:
        - glx-web
      environment:
        STRIPE_API_KEY: ${STRIPE_SECRET_KEY}
        STRIPE_DEVICE_NAME: glx-docker
      command:
        - listen
        - --forward-to
        - http://glx-web:8000/pagos/stripe/webhook/
        - --skip-verify
        - --api-key
        - ${STRIPE_SECRET_KEY}
        - --log-level
        - debug
      networks:
        - default
